nav a {
  position: relative;
  font-size: 0.8em;
  cursor: pointer;
  display: block;
  color: var(--principal-color);
  text-decoration: none;
  text-transform: capitalize;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0px;
  left: 0px;
  background-color: var(--principal-color);
  opacity: 0.8;
  transition: 0.5s;
}

nav a:hover{
  opacity: 0.8;
}
nav a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  nav a {
    display: none;
  }
}